@import 'setup';
@import 'typography';
@import 'mediaqueries';

@mixin shadow {
  filter: drop-shadow(0 1px 3px rgba(100, 46, 15, 0.5));
}

@mixin darkShadow {
  filter: drop-shadow(0 1px 1px rgba(0, 0, 2, 0.3));
}

//  Global Properties

body {
  background-size: 33.3%;
  background-image: linear-gradient(180deg, #ffe6e67d, rgba(188, 168, 243, 0.1)), url(../assets/MartinClearDay.png);
  font-size: 62.5%;
}

.wrapper {
  max-width: 90%;
  margin: 0 auto;
}

img {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

button {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
    position: absolute;
    top: 15px;
    right: 15px;
    color: white;
    background: transparent;
    outline: none;
    border: none;
    @include bodyText(14px, 1.2);
      span {
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 2px;
        background: rgba(0, 0, 0, 0.6);
        height: 20px;
        width: 20px;
          &:hover {
            background: white;
          }
      }
  }

  h3 em {
    border: 1px solid rgba(139, 139, 139, 0.2);
    padding: 0 1vmax;
    background: rgba(255, 255, 255, 0.5);
    font-style: normal;
  }

  em,
  .higgins {
    font-style: italic;
  }

  .what em {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: #12123918;
  }

header {
  height: 90vmin;
}

.title {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25vmin, 1fr));
  gap: 4vw;
  margin-top: 85px;
  text-transform: uppercase;
  }

.buffer {
  display: grid;
  grid-template-rows: 2fr 4fr 6fr 9fr 13fr 18fr 24fr 31fr 39fr 48fr; 
  height: 240px;
  span{
    border-bottom: 2px solid rgb(104, 75, 151);
    display: block;
  }
  span:first-child {
    opacity: .15;
  }
  span:nth-child(2) {
    opacity: .2;
  }
  span:nth-child(3) {
    opacity: .25;
  }
  span:nth-child(4) {
    opacity: .35;
  }
  span:nth-child(5) {
    opacity: .4;
  }
  span:nth-child(6) {
    opacity: .45;
  }
  span:nth-child(7) {
    opacity: .5;
  }
  span:nth-child(8) {
    opacity: .7;
  }
  span:nth-child(9) {
    opacity: .8;
  }
  span:nth-child(10) {
    opacity: 1;
  }
}

.bufferTwo {
  transform: rotate(180deg);
}

.why {
  background: linear-gradient(180deg, #f9ebe52a 1%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.5) 70%, #f9ebe511) 100%;
}

.topGallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  gap: 5%;
  margin: 40px 0 15% 0;
}

li {
  width: 100%;
  height: 100%;
  position: relative;
  @include shadow;
  border-radius: 3px;
}

.overlay {
  position: absolute;
  background: #fffdfb;
  opacity: 0;
  height: 100%;
  width: 100%;
  transition: .05s;
  text-align: center;
  margin: 0;
  padding: 2vw;
    &:hover {
      opacity: .9;
      filter: none;
    }
}


.fourCorners {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3vw;
  margin: 5% 0 10% 0;
  @include darkShadow;
    li {
      min-height: 30vw;
    }
    p {
      margin: 0;
      font-size: 1.6vmax;
      padding: 30px;
      line-height: 1.4;
    }
}

.alberti {
  background-image: url(../assets/alberti.png);
  background-size: contain;
  background-position: center;
  grid-column-start: 1;
  grid-column-end: 2;
}

.albertiP {
  grid-column-start: 2;
  grid-column-end: 4;
}

.durerP {
  grid-column-start: 1;
  grid-column-end: 3;
}

.durer {
  background-image: url(../assets/Durer.png);
  background-size: contain;
  background-position: center;
  grid-column-start: 3;
  grid-column-end: 4;
}

.bodyTwo {
  background-size: 33.3%;
  background-image: linear-gradient(180deg, #11110e12 30%, #0e0e21b0), url(../assets/MartinInverse.png);
}

.bridge {
  background: linear-gradient(180deg, #eee8df, #eee8df7a 30%, #0b0e1b00 90%);
}

.what,
.what a,
.gallery {
  color: #ffffff;
    p, 
    img {
      background: #1515246c;
      border: 1px solid rgba(255, 255, 255, 0.1);
    }
}

.media {
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr;
  gap: 3vmax;
  margin-bottom: 10vh;
    li {
      border: 1px solid rgba(92, 92, 92, 0.22);
      filter: drop-shadow(0 1px 3px rgba(100, 46, 15, 0.1));
    }
    .medium {
      margin: auto;
      background: #fffbffe0;
      display: grid;
      // grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
      font-size: 1.5vmax;
      padding: 1vmin;
      font-family: "Nova Mono";
      align-items: center;
      justify-items: center;
      grid-template-columns: repeat(3, 1fr);
      gap: 2px;
        p {
          padding: 0;
        }
        span {
          padding: 0 .5vw;
          border-bottom: 1px solid rgba(128, 128, 128, 0.233);
        }
    }
    .overlay {
      padding: 1vw;
    }
}

.paint {
  grid-template-columns: repeat(3, 1fr);
}

iframe {
  width: 100%
}

@media (max-width: 512px) {
  .subHeading {
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    // font-size: 3vmin;
  }
}