a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Nunito', Helvetica, Trebuchet;
  font-size: 20px;
  line-height: 1.5;
  text-decoration: none;
  text-align: justify;
}

.heading {
  font-family: 'Nova Mono', Helvetica, Arial;
  font-size: 25vmin;
  border: 1px solid rgba(0, 0, 0, 0.5);
  text-align: center;
  background: rgba(220, 200, 253, 0.411);
  -webkit-filter: drop-shadow(-1px 1px 0.3px #ac7ef7);
          filter: drop-shadow(-1px 1px 0.3px #ac7ef7);
}

.subHeading {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(35px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(35px, 1fr));
  font-family: 'Nunito', Helvetica, Trebuchet;
  font-size: 4.5vmin;
  line-height: auto;
  text-decoration: none;
  text-align: center;
  background: transparent;
  -webkit-filter: drop-shadow(-1px 1px 0.2px #ac7ef7);
          filter: drop-shadow(-1px 1px 0.2px #ac7ef7);
}

.subHeading span {
  border-bottom: 1px solid rgba(172, 126, 247, 0.5);
}

p {
  font-size: 2.5vmin;
  margin: 3vmin 0;
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 4vmin 6vmin;
  height: 100%;
  -webkit-filter: drop-shadow(0 2px 3px rgba(100, 46, 15, 0.2));
          filter: drop-shadow(0 2px 3px rgba(100, 46, 15, 0.2));
}

p span {
  display: block;
  padding-top: 2vmin;
}

h3 {
  font-family: 'Nova Mono', Helvetica, Arial;
  font-size: 5vmax;
  text-transform: uppercase;
  text-align: center;
  padding: 3vmax 0 1vmax 0;
}

.italic {
  font-style: italic;
  font-size: 2.2vmin;
}

.normalize {
  font-style: normal;
}

body {
  background-size: 33.3%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffe6e67d), to(rgba(188, 168, 243, 0.1))), url(../assets/MartinClearDay.png);
  background-image: linear-gradient(180deg, #ffe6e67d, rgba(188, 168, 243, 0.1)), url(../assets/MartinClearDay.png);
  font-size: 62.5%;
}

.wrapper {
  max-width: 90%;
  margin: 0 auto;
}

img {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

button {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 3px;
  position: absolute;
  top: 15px;
  right: 15px;
  color: white;
  background: transparent;
  outline: none;
  border: none;
  font-family: 'Nunito', Helvetica, Trebuchet;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
}

button span {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.6);
  height: 20px;
  width: 20px;
}

button span:hover {
  background: white;
}

h3 em {
  border: 1px solid rgba(139, 139, 139, 0.2);
  padding: 0 1vmax;
  background: rgba(255, 255, 255, 0.5);
  font-style: normal;
}

em,
.higgins {
  font-style: italic;
}

.what em {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: #12123918;
}

header {
  height: 90vmin;
}

.title {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25vmin, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25vmin, 1fr));
  gap: 4vw;
  margin-top: 85px;
  text-transform: uppercase;
}

.buffer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr 4fr 6fr 9fr 13fr 18fr 24fr 31fr 39fr 48fr;
      grid-template-rows: 2fr 4fr 6fr 9fr 13fr 18fr 24fr 31fr 39fr 48fr;
  height: 240px;
}

.buffer span {
  border-bottom: 2px solid #684b97;
  display: block;
}

.buffer span:first-child {
  opacity: .15;
}

.buffer span:nth-child(2) {
  opacity: .2;
}

.buffer span:nth-child(3) {
  opacity: .25;
}

.buffer span:nth-child(4) {
  opacity: .35;
}

.buffer span:nth-child(5) {
  opacity: .4;
}

.buffer span:nth-child(6) {
  opacity: .45;
}

.buffer span:nth-child(7) {
  opacity: .5;
}

.buffer span:nth-child(8) {
  opacity: .7;
}

.buffer span:nth-child(9) {
  opacity: .8;
}

.buffer span:nth-child(10) {
  opacity: 1;
}

.bufferTwo {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.why {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #f9ebe52a), color-stop(30%, rgba(255, 255, 255, 0.6)), color-stop(70%, rgba(255, 255, 255, 0.5)), to(#f9ebe511)) 100%;
  background: linear-gradient(180deg, #f9ebe52a 1%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.5) 70%, #f9ebe511) 100%;
}

.topGallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30%, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  gap: 5%;
  margin: 40px 0 15% 0;
}

li {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-filter: drop-shadow(0 1px 3px rgba(100, 46, 15, 0.5));
          filter: drop-shadow(0 1px 3px rgba(100, 46, 15, 0.5));
  border-radius: 3px;
}

.overlay {
  position: absolute;
  background: #fffdfb;
  opacity: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: .05s;
  transition: .05s;
  text-align: center;
  margin: 0;
  padding: 2vw;
}

.overlay:hover {
  opacity: .9;
  -webkit-filter: none;
          filter: none;
}

.fourCorners {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 3vw;
  margin: 5% 0 10% 0;
  -webkit-filter: drop-shadow(0 1px 1px rgba(0, 0, 2, 0.3));
          filter: drop-shadow(0 1px 1px rgba(0, 0, 2, 0.3));
}

.fourCorners li {
  min-height: 30vw;
}

.fourCorners p {
  margin: 0;
  font-size: 1.6vmax;
  padding: 30px;
  line-height: 1.4;
}

.alberti {
  background-image: url(../assets/alberti.png);
  background-size: contain;
  background-position: center;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
}

.albertiP {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
}

.durerP {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.durer {
  background-image: url(../assets/Durer.png);
  background-size: contain;
  background-position: center;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
}

.bodyTwo {
  background-size: 33.3%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #11110e12), to(#0e0e21b0)), url(../assets/MartinInverse.png);
  background-image: linear-gradient(180deg, #11110e12 30%, #0e0e21b0), url(../assets/MartinInverse.png);
}

.bridge {
  background: -webkit-gradient(linear, left top, left bottom, from(#eee8df), color-stop(30%, #eee8df7a), color-stop(90%, #0b0e1b00));
  background: linear-gradient(180deg, #eee8df, #eee8df7a 30%, #0b0e1b00 90%);
}

.what,
.what a,
.gallery {
  color: #ffffff;
}

.what p,
.what img,
.what a p,
.what a img,
.gallery p,
.gallery img {
  background: #1515246c;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.media {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr 1fr 1fr;
      grid-template-columns: auto 1fr 1fr 1fr;
  gap: 3vmax;
  margin-bottom: 10vh;
}

.media li {
  border: 1px solid rgba(92, 92, 92, 0.22);
  -webkit-filter: drop-shadow(0 1px 3px rgba(100, 46, 15, 0.1));
          filter: drop-shadow(0 1px 3px rgba(100, 46, 15, 0.1));
}

.media .medium {
  margin: auto;
  background: #fffbffe0;
  display: -ms-grid;
  display: grid;
  font-size: 1.5vmax;
  padding: 1vmin;
  font-family: "Nova Mono";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 2px;
}

.media .medium p {
  padding: 0;
}

.media .medium span {
  padding: 0 .5vw;
  border-bottom: 1px solid rgba(128, 128, 128, 0.233);
}

.media .overlay {
  padding: 1vw;
}

.paint {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

iframe {
  width: 100%;
}

@media (max-width: 512px) {
  .subHeading {
    -ms-grid-columns: (minmax(20px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  }
}
